    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>v-for</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <ul id="app">
            <!-- <li v-for='item in arr'>{{item}}</li><hr>
            <li v-for='(i,index) in msg'>{{i.name}}----{{index}}</li><hr>
            <li v-for='(i,index) of msg'>{{i.name}}----{{index}}</li><hr>
            <li v-for='(name,value,index) in  obj'>{{name}}:{{value}}--{index}</li><hr>
            <li v-for='i in str'>{{i}}</li><hr>
            <li v-for='i in num'>{{i}}</li> -->
                
            <!-- v-for key -->
            <li v-for='item in k' v-bind:key='item.id'>{{item.name}}</li><hr>
        </ul>
        <script>
            let arr=[1,2,3,56,9];
            let vm=new Vue({
                el:'#app',
                data:{
                    arr,                //遍历数组
                    msg:[
                        {name:'zrm',age:18},     
                        {name:'asdm',age:18}    
                    ],
                    obj:{
                        name:'zrm',
                        age:18 ,           //遍历对象
                        sex:'男',
                    },
                    str: 'dsfafasdf',     //遍历string
                    num:1565,             //遍历Number error

                    k:[
                        {id:'1',name:'wg',age:18},
                        {id:'2',name:'lm',age:19},
                    ]
                }
            });
        </script>
    </body>
    </html>
