<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>v-model</title>
    <script src="../vue/vue.js"></script>
</head>
<body>  
        <!-- 你可以用 v-model 指令在表单 <input>、<textarea> 及 <select> 
        元素上创建双向数据绑定。它会根据控件类型自动选取正确的方法来更新元素。尽管有些神奇，
        但 v-model 本质上不过是语法糖。它负责监听用户的输入事件以更新数据，
        并对一些极端场景进行一些特殊处理。 -->
        <!-- 修饰符：
        .lazy - 取代 input 监听 change 事件
        .number - 输入字符串转为有效的数字
        .trim - 输入首尾空格过滤 -->
        <!-- v-model 在内部为不同的输入元素使用不同的属性并抛出不同的事件：
        text 和 textarea 元素使用 value 属性和 input 事件；
        checkbox 和 radio 使用 checked 属性和 change 事件；
        select 字段将 value 作为 prop 并将 change 作为事件。 -->

        <!-- v-model 会忽略所有表单元素的 value、checked、selected 特性的初始值而总是将 Vue 实例的数据作为数据来源。
        你应该通过 JavaScript 在组件的 data 选项中声明初始值。 -->
        <!-- 对于单选按钮，复选框及选择框的选项，v-model 绑定的值通常是静态字符串 (对于复选框也可以是布尔值)： -->
    <div id="app">
        <p>{{msg}}</p>
        <!-- 文本 -->
        <input type="text" v-model='msg' placeholder="hello"><br>
        <!-- 多行文本 -->
        <textarea name="" id="" cols="30" rows="10" v-model="msg" ></textarea><br>
         <!-- 复选框 -->
        <input type="checkbox" name="" id="c" v-model='txt' value="zrm">
        <label for="c">{{txt}}</label> <br>
        <!-- 多个复选框绑定到同一个数组 -->
        <div>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" >
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
       <!-- 单选按钮 -->
       <div>
            <!-- //checked失效 -->
           <input type="radio" name="sex" id="man" v-model='sex' value="Man"> 
           <label for="man">男</label>
           <input type="radio" name="sex" id="woman" v-model='sex' value="Woman">
           <label for="woman">女</label><br>
           <span>Sex:{{sex}}</span>
       </div>
       <!-- 选着按钮 -->
       <div>
            <select name="" id="" v-model='select'>
                <option disabled value="">请选择</option>
                <option value="张如明">张如明</option>
                <option value="展示那">展示面</option>
                <option value="晚饭">晚饭</option>
            </select>
            <p>{{select}}</p>
       </div>
       <!-- 修饰符 -->
       <div>
            <!-- 在默认情况下，v-model 在每次 input 事件触发后将输入框的值与数据进行同步 (除了上述输入法组合文字时)。 -->
            <!-- 你可以添加 lazy 修饰符，从而转变为使用 change 事件进行同步： -->
            <p>LAZY:{{lazy}}</p>
            <input type="text" v-model.lazy='lazy' @change="change">

            <!-- .number如果想自动将用户的输入值转为数值类型，可以给 v-model 添加 number 修饰符： -->
            <!-- <input type="text" v-model.number='num'>
            <span>{{num}}</span> -->

            <!-- .trim
            如果要自动过滤用户输入的首尾空白字符，可以给 v-model 添加 trim 修饰符： -->

            <input v-model="num">
            <span>{{num}}</span>
       </div>
    </div>
   
    <script>
        let vm=new Vue({
            el:'#app',
            data:{
                msg:'',
                txt:'true',
                checkedNames:[],
                // checkedNames:{} 全选
                sex:'',
                ischeck:'true',
                select:'',
                lazy:'',
                num:''
            },
            methods:{
                change:function(){
                    console.log(this.lazy);
                }
            }
        })
    </script>
</body>
</html>