<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>key</title>
    <script src="../../vue/vue.js"></script>
</head>
<body>
    <div id="app">
        <label for="Id">ID</label>
        <input type="text" id="Id" v-model='id'>
        <label for="name">Name</label>
        <input type="text" id="name" v-model='name'>
        <button @click='add'>添加</button>
        <!-- v-for循环中，key属性的值只能是 Number/String类型的值 -->
        <!-- key使用时必须用v-bind:属性绑定的形式 -->
        <p v-for='item in obj' :key='item.id'>
            <input type="checkbox">
            {{item.id}}-------{{item.name}}
        </p>
    </div>
    <script>
        var vm=new Vue({
            el:'#app',
            data:{
                id:'',
                name:'',
                obj:[
                    {id:1,name:'嘉庆'},
                    {id:2,name:'乾隆'},
                    {id:3,name:'康熙'},
                    {id:4,name:'光绪'}
                ]
            },
            methods:{
                add:function(){
                    this.obj.unshift({id:this.id,name:this.name});
                }
            }
        })
    </script>
</body>
</html>